In [40]:
import pandas as pd

### Lendo CSV

In [41]:
df = pd.read_csv("./data/tb_candidatura_2018.csv", sep=";")
df.head()

,ano_eleicao,data_eleicao,descricao_eleicao,nome_tipo_eleicao,tipo_abrangencia_eleicao,descricao_totalizacao_turno,numero_turno,descricao_ue,sigla_ue,sigla_uf,...,descricao_situacao_candidatura,despesa_maxima_campanha,idade_data_eleicao,idade_data_posse,nome_urna,numero_processo_candidatura,numero_protocolo_candidatura,numero_sequencial,numero_urna,pergunta
0,2018,07/10/2018,ELEICOES GERAIS ESTADUAIS 2018,ELEICAO ORDINARIA,ESTADUAL,SUPLENTE,1,ACRE,AC,AC,...,APTO,0.0,NaN,29.0,TEMYLLIS SILVA,6005525020186010000,-1.0,10000608364,13131.0,NaN
1,2018,07/10/2018,ELEICOES GERAIS ESTADUAIS 2018,ELEICAO ORDINARIA,ESTADUAL,SUPLENTE,1,ACRE,AC,AC,...,APTO,0.0,NaN,58.0,LUCILA,6006157520186010000,-1.0,10000610667,11456.0,NaN
2,2018,07/10/2018,ELEICOES GERAIS ESTADUAIS 2018,ELEICAO ORDINARIA,ESTADUAL,SUPLENTE,1,ACRE,AC,AC,...,APTO,0.0,NaN,53.0,SOCORRINHA,6003706420186010000,-1.0,10000602320,12888.0,NaN
3,2018,07/10/2018,ELEICOES GERAIS ESTADUAIS 2018,ELEICAO ORDINARIA,ESTADUAL,SUPLENTE,1,ACRE,AC,AC,...,APTO,0.0,NaN,50.0,SUBTENENTE CANDEIAS,6001965520186010000,-1.0,10000600226,17190.0,NaN
4,2018,07/10/2018,ELEICOES GERAIS ESTADUAIS 2018,ELEICAO ORDINARIA,ESTADUAL,NAO ELEITO,1,ACRE,AC,AC,...,APTO,0.0,NaN,27.0,CRISTIANO BORGES,6006382120186010000,-1.0,10000607177,28234.0,NaN

### Lendo XLSX Excel

In [42]:
df_declaracao = pd.read_excel("./data/tb_declaracao_2018.xlsx")
df_declaracao.head()

,numero_sequencial,codigo_tipo,descricao_tipo,detalhe,numero_ordem,valor
0,10000600001,12,CASA,NaN,1,60000.00
1,10000600001,21,"VEICULO AUTOMOTOR TERRESTRE: CAMINHAO, AUTOMOV...",NaN,2,35830.96
2,10000600002,14,TERRA NUA,NaN,7,60000.00
3,10000600246,13,TERRENO,NaN,5,26666.66
4,10000600001,12,CASA,NaN,3,180000.00

### Manipulando DataFrame

In [43]:
df.shape

(29145, 45)

#### Listando colunas DataFrame

In [44]:
df.columns

Index(['ano_eleicao', 'data_eleicao', 'descricao_eleicao', 'nome_tipo_eleicao',
       'tipo_abrangencia_eleicao', 'descricao_totalizacao_turno',
       'numero_turno', 'descricao_ue', 'sigla_ue', 'sigla_uf', 'cpf',
       'data_nascimento', 'descricao_cor_raca', 'descricao_estado_civil',
       'descricao_genero', 'descricao_grau_instrucao',
       'descricao_nacionalidade', 'descricao_ocupacao', 'email', 'nome',
       'nome_municipio_nascimento', 'nome_social', 'sigla_uf_nascimento',
       'titulo_eleitoral', 'composicao_legenda', 'nome_legenda',
       'nome_partido', 'numero_partido', 'sigla_legenda', 'sigla_partido',
       'tipo_agremiacao', 'concorre_reeleicao', 'declara_bens',
       'descricao_cargo', 'descricao_detalhe_situacao_candidatura',
       'descricao_situacao_candidatura', 'despesa_maxima_campanha',
       'idade_data_eleicao', 'idade_data_posse', 'nome_urna',
       'numero_processo_candidatura', 'numero_protocolo_candidatura',
       'numero_sequencial', 'numero_urna', 'pergunta'],
      dtype='object')

#### Navegando pelo DataFrame

In [45]:
df['nome'][:5]

0                     TEMYLLIS LIMA DA SILVA
1                            LUCILA BRUNETTA
2    MARIA DO SOCORRO DE JESUS DO NASCIMENTO
3         MARIA DAS CANDEIAS DOS SANTOS LIMA
4           FRANCISCO CRISTIANO SOUZA BORGES
Name: nome, dtype: object

In [46]:
df['nome'][-5:]

29140          IZZIA HASSAN IBRAHIM SOUZA
29141                GLEIDY BRAGA RIBEIRO
29142          PEDRO DIAS CORREA DA SILVA
29143       JOSE DOS SANTOS FREIRE JUNIOR
29144    JANAD MARQUES DE FREITAS VALCARI
Name: nome, dtype: object

In [47]:
df[['nome', 'cpf']][:10]

                                      nome          cpf
0                   TEMYLLIS LIMA DA SILVA  87231280200
1                          LUCILA BRUNETTA  10885102215
2  MARIA DO SOCORRO DE JESUS DO NASCIMENTO  19646216234
3       MARIA DAS CANDEIAS DOS SANTOS LIMA  31679234234
4         FRANCISCO CRISTIANO SOUZA BORGES   1198167254
5                  NATALINO PAULO DE SOUZA  72605685268
6                 EDIGLEY DE SOUSA ROSENDO  58502998234
7             JOSE ARNALDO DA SILVA BARROS  33966036215
8      JOSE EDIMAR SANTIAGO DE MELO JUNIOR  58560432272
9              LUZIVALDO DE MOURA OLIVEIRA  64643506253

In [48]:
df[['nome', 'cpf', 'descricao_ocupacao']].tail()

                                   nome          cpf descricao_ocupacao
29140        IZZIA HASSAN IBRAHIM SOUZA  17361546803         EMPRESARIO
29141              GLEIDY BRAGA RIBEIRO  99065347100           ADVOGADO
29142        PEDRO DIAS CORREA DA SILVA  21725349604           AGRONOMO
29143     JOSE DOS SANTOS FREIRE JUNIOR  74022024887           DEPUTADO
29144  JANAD MARQUES DE FREITAS VALCARI  71487093187         EMPRESARIO

#### Navegando pela colunas e linhas

In [50]:
df['nome'][29140]

'IZZIA HASSAN IBRAHIM SOUZA'

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29145 entries, 0 to 29144
Data columns (total 45 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ano_eleicao                             29145 non-null  int64
 1   data_eleicao                            29145 non-null  object
 2   descricao_eleicao                       29145 non-null  object
 3   nome_tipo_eleicao                       29145 non-null  object
 4   tipo_abrangencia_eleicao                29145 non-null  object
 5   descricao_totalizacao_turno             27443 non-null  object
 6   numero_turno                            29145 non-null  int64
 7   descricao_ue                            29145 non-null  object
 8   sigla_ue                                29145 non-null  object
 9   sigla_uf                                29145 non-null  object
 10  cpf                                     29145 non-null  int64
 11  data_nascimento                         29145 non-null  object
 12  descricao_cor_raca                      29145 non-null  object
 13  descricao_estado_civil                  29145 non-null  object
 14  descricao_genero                        29145 non-null  object
 15  descricao_grau_instrucao                29145 non-null  object
 16  descricao_nacionalidade                 29145 non-null  object
 17  descricao_ocupacao                      29145 non-null  object
 18  email                                   29142 non-null  object
 19  nome                                    29145 non-null  object
 20  nome_municipio_nascimento               29144 non-null  object
 21  nome_social                             29 non-null     object
 22  sigla_uf_nascimento                     29145 non-null  object
 23  titulo_eleitoral                        29145 non-null  float64
 24  composicao_legenda                      29142 non-null  object
 25  nome_legenda                            29145 non-null  object
 26  nome_partido                            29145 non-null  object
 27  numero_partido                          29145 non-null  int64
 28  sigla_legenda                           0 non-null      float64
 29  sigla_partido                           29145 non-null  object
 30  tipo_agremiacao                         29145 non-null  object
 31  concorre_reeleicao                      29145 non-null  object
 32  declara_bens                            29145 non-null  object
 33  descricao_cargo                         29145 non-null  object
 34  descricao_detalhe_situacao_candidatura  29145 non-null  object
 35  descricao_situacao_candidatura          29145 non-null  object
 36  despesa_maxima_campanha                 29145 non-null  float64
 37  idade_data_eleicao                      0 non-null      float64
 38  idade_data_posse                        29145 non-null  float64
 39  nome_urna                               29145 non-null  object
 40  numero_processo_candidatura             29145 non-null  int64
 41  numero_protocolo_candidatura            29145 non-null  float64
 42  numero_sequencial                       29145 non-null  int64
 43  numero_urna                             29145 non-null  float64
 44  pergunta                                0 non-null      float64
dtypes: float64(8), int64(6), object(31)
memory usage: 10.0+ MB

In [55]:
df_declaracao.shape

(93266, 6)